.sidebarCloseButton {
	display: flex;
	flex-basis: 7%;
	overflow: hidden;
}
.crossIconSpace {
	display: flex;
	flex-basis: 80%;
	overflow: hidden;
}
.crossIconContainer {
	display: flex;
	flex-basis: 20%;
	overflow: hidden;
	justify-content: flex-end;
	flex-direction: row;
}

.crossIcon {
	display: flex;
	border: 0.32vmin solid #4CAF50;
	border-radius: 12px;
	align-items: center;
	font-size: 6vmin;
}