.siteIcon {
	display: flex;
	overflow: hidden;
	border: 0.32vmin solid #4CAF50;
	border-radius: 12px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	font-size: 2.3vmin;
	margin: 0.3vmin;
}

.siteIcon:hover {
	border: 0.32vmin solid #FF0000;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }

  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.wrap {
  perspective: 100vmin;
}

.cube {
  margin: auto;
  position: relative;
  height: 6vmin;
  width: 6vmin;
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
}

.cube div {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  border: solid 0.32vmin #4CAF50;
  font-size: 5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #00FF00;
}

.front {
  transform: translateZ(3.5vmin);
}

.back {
  transform: translateZ(-3vmin) rotateY(180deg);
}

.right {
  transform: rotateY(-270deg) translateX(3vmin);
  transform-origin: top right;
}

.left {
  transform: rotateY(270deg) translateX(-3vmin);
  transform-origin: center left;
}

.top {
  transform: rotateX(-270deg) translateY(-3vmin);
  transform-origin: top center;
}

.bottom {
  transform: rotateX(270deg) translateY(3vmin);
  transform-origin: bottom center;
}