.imageContainer {
	display: flex;
	overflow: hidden;
	border: 2px solid #4CAF50;
	border-radius: 12px;
}

.imageContainer:hover {
	border: 2px solid #FF0000;
}

.imageDisplay {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
