.sidebarNavigationList {
	display: flex;
	flex-basis: 93%;
	flex-direction: column;
	overflow: hidden;
	justify-content: space-between;
}

.upperNavigationElements {
	display: flex;
	flex-direction: column;
	flex-basis: 90%;
}

.lowerNavigationElements {
	display: flex;
	flex-direction: column;
	flex-basis: 10%;
}