.userLoginStatus {
	display: flex;
	flex-basis: 20%;
	flex-direction: column;
	overflow: hidden;
	font-weight: bold;
}

.loginLink {
	color: white;
}

.userDisplayMessage, .loginStatus {
	display: flex;
	flex-basis: 50%;
	justify-content: center;
	overflow: hidden;
	border: 2px solid #4CAF50;
	border-radius: 12px;
}

.userDisplayMessage:hover, .loginStatus:hover {
	border: 2px solid #FF0000;
}

@media (min-width: 900px) and (min-height: 500px) {
	.userDisplayMessage, .loginStatus {
		font-size: 16px;
		margin: 5px;
	}
}

@media (min-width: 800px) and (max-width: 900px) and (min-height: 700px) {
	.userDisplayMessage, .loginStatus {
		font-size: 16px;
		margin: 4px;
	}
}

@media (min-width: 700px) and (max-width: 800px) and (min-height: 700px) {
	.userDisplayMessage, .loginStatus {
		font-size: 15px;
		margin: 4px;
	}
}

@media (min-width: 600px) and (max-width: 700px) and (min-height: 600px) {
	.userDisplayMessage, .loginStatus {
		font-size: 14px;
		margin: 3px;
	}
}

@media (min-width: 450px) and (max-width: 600px) and (min-height: 600px) {
	.userDisplayMessage, .loginStatus {
		font-size: 13px;
		margin: 2px;
	}
}

@media (min-width: 350px) and (max-width: 450px) and (min-height: 600px) {
	.userDisplayMessage, .loginStatus {
		font-size: 12px;
		margin: 1px;
	}
}

@media (max-width: 350px) and (min-height: 600px)  {
	.userDisplayMessage, .loginStatus {
		font-size: 11px;
		margin: 1px;
	}
}

@media (min-width: 800px) and (max-width: 900px) and (min-height: 600px) and (max-height: 700px) {
	.userDisplayMessage, .loginStatus {
		font-size: 15px;
		margin: 4px;
	}
}

@media (min-width: 700px) and (max-width: 800px) and (min-height: 600px) and (max-height: 700px) {
	.userDisplayMessage, .loginStatus {
		font-size: 14px;
		margin: 3px;
	}
}

@media (min-width: 800px) and (max-width: 900px) and (min-height: 500px) and (max-height: 600px) {
	.userDisplayMessage, .loginStatus {
		font-size: 14px;
		margin: 4px;
	}
}

@media (min-width: 700px) and (max-width: 800px) and (min-height: 500px) and (max-height: 600px) {
	.userDisplayMessage, .loginStatus {
		font-size: 13px;
		margin: 3px;
	}
}

@media (min-width: 600px) and (max-width: 700px) and (min-height: 500px) and (max-height: 600px) {
	.userDisplayMessage, .loginStatus {
		font-size: 11px;
		margin: 2px;
	}
}

@media (min-width: 450px) and (max-width: 600px) and (min-height: 500px) and (max-height: 600px) {
	.userDisplayMessage, .loginStatus {
		font-size: 11px;
		margin: 2px;
	}
}

@media (min-width: 900px) and (min-height: 400px) and (max-height: 500px) {
	.userDisplayMessage, .loginStatus {
		font-size: 15px;
		margin: 3px;
	}
}

@media (min-width: 800px) and (max-width: 900px) and (min-height: 400px) and (max-height: 500px) {
	.userDisplayMessage, .loginStatus {
		font-size: 15px;
		margin: 3px;
	}
}

@media (min-width: 700px) and (max-width: 800px) and (min-height: 400px) and (max-height: 500px) {
	.userDisplayMessage, .loginStatus {
		font-size: 13px;
		margin: 2px;
	}
}

@media (min-width: 600px) and (max-width: 700px) and (min-height: 400px) and (max-height: 500px) {
	.userDisplayMessage, .loginStatus {
		font-size: 11px;
		margin: 1px;
	}
}

@media (min-width: 450px) and (max-width: 600px) and (min-height: 400px) and (max-height: 500px) {
	.userDisplayMessage, .loginStatus {
		font-size: 9px;
		margin: 1px;
	}
}

@media (min-width: 350px) and (max-width: 450px) and (min-height: 400px) and (max-height: 500px) {
	.userDisplayMessage, .loginStatus {
		font-size: 9px;
		margin: 1px;
	}
}

@media (max-width: 350px) and (min-height: 400px) and (max-height: 500px) {
	.userDisplayMessage, .loginStatus {
		font-size: 9px;
		margin: 0px;
	}
}

@media (min-width: 900px) and (max-height: 400px) {
	.userDisplayMessage, .loginStatus {
		font-size: 12px;
		margin: 1px;
	}
}

@media (min-width: 800px) and (max-width: 900px) and (max-height: 400px) {
	.userDisplayMessage, .loginStatus {
		font-size: 12px;
		margin: 1px;
	}
}

@media (min-width: 700px) and (max-width: 800px) and (max-height: 400px) {
	.userDisplayMessage, .loginStatus {
		font-size: 12px;
		margin: 1px;
	}
}

@media (min-width: 600px) and (max-width: 700px) and (max-height: 400px) {
	.userDisplayMessage, .loginStatus {
		font-size: 11px;
		margin: 1px;
	}
}

@media (min-width: 450px) and (max-width: 600px) and (max-height: 400px) {
	.userDisplayMessage, .loginStatus {
		font-size: 8px;
		margin: 0px;
	}
}

@media (min-width: 350px) and (max-width: 450px) and (max-height: 400px) {
	.userDisplayMessage, .loginStatus {
		font-size: 7px;
		margin: 0px;
	}
}

@media (max-width: 350px) and (max-height: 400px) {
	.userDisplayMessage, .loginStatus {
		font-size: 7px;
		margin: 0px;
	}
}