.rootSideNavigationBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 99%;
  background-color: #265077;
  color: white;
  border: 0.32vmin solid #4CAF50;
  border-radius: 12px;
  flex-direction: column;
  overflow: hidden;

  width: 50vmin;
  transition: 0.5s;
}

.rootSideNavigationBar:hover {
	border: 0.32vmin solid #FF0000;
}